folder/Daily workflow backups to GitHub with Slack notifications.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-02T11:40:38.000Z",
    "createdAt": "2026-03-02T11:40:36.917Z",
    "versionId": "875b2698-60e4-4317-a01d-f194196f0e98",
    "workflowId": "W3tSO5Pe1t-hrfv2l-Ekm",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "f83be6a7-22c8-435c-9973-3536cd95e5a0",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          1664,
          464
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {},
        "id": "e8e7c145-ebbf-471b-b5ac-7d6f5ab051a0",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          752,
          336
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "\nconst sanitizeWorkflow = (workflow) => {\n  const sensitiveKeyPatterns = [\n    /api[_-]?key/i,\n    /apikey/i,\n    /secret/i,\n    /password/i,\n    /passwd/i,\n    /token/i,\n    /private[_-]?key/i,\n    /client[_-]?secret/i,\n    /access[_-]?token/i,\n    /auth[_-]?key/i,\n    /bearer/i,\n    /credential/i,\n  ];\n\n  const sensitiveValuePatterns = [\n    /-----BEGIN [A-Z]+ PRIVATE KEY-----/,\n    /^[A-Za-z0-9+/]{40,}={0,2}$/, // long base64 strings\n  ];\n\n  const PLACEHOLDER = \"***SANITIZED***\";\n\n  const sanitizeValue = (key, value) => {\n    if (typeof value === 'string') {\n      // Check if key matches sensitive patterns\n      if (sensitiveKeyPatterns.some(p => p.test(key))) {\n        // Skip n8n expressions - they're not real secrets\n        if (value.startsWith('={{') || value.startsWith('{{')) return value;\n        if (value === '') return value;\n        return PLACEHOLDER;\n      }\n      // Check if value looks like a raw secret\n      if (sensitiveValuePatterns.some(p => p.test(value))) {\n        return PLACEHOLDER;\n      }\n    }\n    return value;\n  };\n\n  const sanitizeObj = (obj, parentKey = '') => {\n    if (Array.isArray(obj)) {\n      return obj.map(item => sanitizeObj(item, parentKey));\n    } else if (obj && typeof obj === 'object') {\n      const result = {};\n      for (const [k, v] of Object.entries(obj)) {\n        result[k] = sanitizeObj(v, k);\n      }\n      return result;\n    } else if (typeof obj === 'string') {\n      return sanitizeValue(parentKey, obj);\n    }\n    return obj;\n  };\n\n  return sanitizeObj(workflow);\n};\n\nconst orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(sanitizeWorkflow(orderedActual), null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(sanitizeWorkflow(orderedActual), null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(sanitizeWorkflow(orderedActual), null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
        },
        "id": "485ddd04-d57c-4a51-98b2-f35f2244a45a",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          976,
          336
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Config').item.json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Config').item.json.repo_name }}"
          },
          "filePath": "={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Loop Over Items').item.json.name}} ({{$json.github_status}})"
        },
        "id": "5801d7a5-47fa-431f-8520-abb2a435e756",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1408,
          288
        ],
        "webhookId": "b440dead-fad0-4546-8ca7-201aa2ea2936",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "nCn2SsZ9SgiyEUnP",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Config').item.json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "n8n-workflows"
          },
          "filePath": "={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Loop Over Items').item.json.name}} ({{$json.github_status}})"
        },
        "id": "dd013b93-3b37-4ec1-a065-0a4d79fb4419",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          1408,
          96
        ],
        "webhookId": "1dfc4103-7c23-4814-a0b5-dd4f5a96d36b",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "nCn2SsZ9SgiyEUnP",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "bb64ed2c-5193-4b8f-a9e8-55cb83ea244c",
                "operator": {
                  "type": "dateTime",
                  "operation": "afterOrEquals"
                },
                "leftValue": "={{ $json.updatedAt }}",
                "rightValue": "={{ $now.minus(1, 'days') }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ae7b37fa-560b-4084-8f97-e6b45513b4e7",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          -384,
          288
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "content": "# Links\n- ## [Github Folder](https://github.com/AndrewBoichenko/n8n-workflows/)",
          "height": 120,
          "width": 400
        },
        "id": "5cee33e8-9de4-4d83-b618-2bb4101b150e",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1760,
          288
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# How it works \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `repo_path` for the directory path and `ID.json` for the filename.\nThe Repo Owner, Repo Name and Main folder are set using the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\nPlease check out my other items on [gumroad](https://boanse.gumroad.com/?section=k_Sn6LcT_dzJFnp5jmsM5A%3D%3D)\nYou might also like something else☺️",
          "height": 340,
          "width": 400
        },
        "id": "707b2cb9-8644-49a1-84ec-dde87572b0f8",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1760,
          448
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "6655f56f-b447-43eb-84a2-be8b71524af7",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "different"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Different"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "fd0fcdea-e8c0-42be-ba51-5cd2b71ed247",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "new"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "New"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "ca3b1c68-d756-4de5-b69b-147526e19e35",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "same"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Same"
              }
            ]
          },
          "options": {}
        },
        "id": "90f50198-56c3-491f-8300-304b44da74cf",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          1200,
          320
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "filters": {
            "activeWorkflows": true
          },
          "requestOptions": {}
        },
        "id": "78163556-7a99-46f9-ad53-f487843a09dc",
        "name": "Get Workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -608,
          288
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "6oeEG7M14CUiBdz4",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "03f51f9c-4681-4423-91d2-d32f4c18d6bc",
                "name": "repo_owner",
                "type": "string",
                "value": "chrisdevworks"
              },
              {
                "id": "0c9b521a-b698-4b43-9eb0-bbf744760158",
                "name": "repo_name",
                "type": "string",
                "value": "n8n-workflows"
              },
              {
                "id": "91627e70-a71a-4be0-a6f6-b04d5c8469d8",
                "name": "repo_path",
                "type": "string",
                "value": "n8n-workflows"
              },
              {
                "id": "983a2c87-9d69-4d64-ab88-ec1b1117c6e6",
                "name": "sub_path",
                "type": "string",
                "value": "folder"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "9fcbffd6-2373-4c07-8e91-d71dc94e7bef",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          -832,
          288
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "c1953a81-42a5-42ce-96ff-a9cce5ef27a4",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -1280,
          288
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Config').item.json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Config').item.json.repo_name }}"
          },
          "filePath": "={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "83dd0cdc-957d-42ee-80d1-f2122606e649",
        "name": "Get a file",
        "type": "n8n-nodes-base.github",
        "position": [
          96,
          208
        ],
        "webhookId": "c12420d3-b858-4ee4-81c4-9adc03e30865",
        "typeVersion": 1.1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "nCn2SsZ9SgiyEUnP",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "628f6e8f-d817-4c53-89ec-b1acbb3dfef8",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "63fc68bb-63d0-40a8-92e4-2a62b5a71812",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "068893a3-8c66-4b7a-b760-ef4c4aa24533",
        "name": "Is File too large?",
        "type": "n8n-nodes-base.if",
        "position": [
          304,
          208
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "b1acd3e6-2d94-4f13-9899-00eddb1c33ea",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          528,
          160
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=Information_source:  Starting Workflow Backup [{{ $execution.id }}]",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "id": "acc56b1a-a9ac-4c8a-92f4-b98c01d9cd4a",
        "name": "Starting Message",
        "type": "n8n-nodes-base.slack",
        "position": [
          -1056,
          288
        ],
        "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
        "typeVersion": 2.2,
        "credentials": {
          "slackOAuth2Api": {
            "id": "2vq44BqFFGu06poF",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "name",
            "value": "#notifications"
          },
          "text": "=✅ Backup has completed - {{ $('Get Workflows').all().length }} workflows have been processed.",
          "otherOptions": {}
        },
        "id": "fcd4897e-83b6-445e-8c60-751024722da9",
        "name": "Completed Notification",
        "type": "n8n-nodes-base.slack",
        "position": [
          80,
          0
        ],
        "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
        "executeOnce": true,
        "typeVersion": 2.2,
        "credentials": {
          "slackOAuth2Api": {
            "id": "2vq44BqFFGu06poF",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "6d7c33ec-06b4-4309-ba73-0154dfdad795",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          -160,
          288
        ],
        "typeVersion": 3
      }
    ],
    "connections": {
      "Config": {
        "main": [
          [
            {
              "node": "Get Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Is File too large?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Workflows": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Completed Notification",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Starting Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Starting Message": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is File too large?": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Christopher Christian Cosingan",
    "name": "Version 875b2698",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "875b2698-60e4-4317-a01d-f194196f0e98",
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Is File too large?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Completed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Message": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is File too large?": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-03T08:03:49.238Z",
  "id": "W3tSO5Pe1t-hrfv2l-Ekm",
  "isArchived": false,
  "meta": {
    "templateId": "5851",
    "templateCredsSetupCompleted": true
  },
  "name": "Daily workflow backups to GitHub with Slack notifications",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "f83be6a7-22c8-435c-9973-3536cd95e5a0",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1664,
        464
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {},
      "id": "e8e7c145-ebbf-471b-b5ac-7d6f5ab051a0",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        752,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "\nconst sanitizeWorkflow = (workflow) => {\n  const sensitiveKeyPatterns = [\n    /api[_-]?key/i,\n    /apikey/i,\n    /secret/i,\n    /password/i,\n    /passwd/i,\n    /token/i,\n    /private[_-]?key/i,\n    /client[_-]?secret/i,\n    /access[_-]?token/i,\n    /auth[_-]?key/i,\n    /bearer/i,\n    /credential/i,\n  ];\n\n  const sensitiveValuePatterns = [\n    /-----BEGIN [A-Z]+ PRIVATE KEY-----/,\n    /^[A-Za-z0-9+/]{40,}={0,2}$/, // long base64 strings\n  ];\n\n  const PLACEHOLDER = \"***SANITIZED***\";\n\n  const sanitizeValue = (key, value) => {\n    if (typeof value === 'string') {\n      // Check if key matches sensitive patterns\n      if (sensitiveKeyPatterns.some(p => p.test(key))) {\n        // Skip n8n expressions - they're not real secrets\n        if (value.startsWith('={{') || value.startsWith('{{')) return value;\n        if (value === '') return value;\n        return PLACEHOLDER;\n      }\n      // Check if value looks like a raw secret\n      if (sensitiveValuePatterns.some(p => p.test(value))) {\n        return PLACEHOLDER;\n      }\n    }\n    return value;\n  };\n\n  const sanitizeObj = (obj, parentKey = '') => {\n    if (Array.isArray(obj)) {\n      return obj.map(item => sanitizeObj(item, parentKey));\n    } else if (obj && typeof obj === 'object') {\n      const result = {};\n      for (const [k, v] of Object.entries(obj)) {\n        result[k] = sanitizeObj(v, k);\n      }\n      return result;\n    } else if (typeof obj === 'string') {\n      return sanitizeValue(parentKey, obj);\n    }\n    return obj;\n  };\n\n  return sanitizeObj(workflow);\n};\n\nconst orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(sanitizeWorkflow(orderedActual), null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(sanitizeWorkflow(orderedActual), null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(sanitizeWorkflow(orderedActual), null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "485ddd04-d57c-4a51-98b2-f35f2244a45a",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        976,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').item.json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').item.json.repo_name }}"
        },
        "filePath": "={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Loop Over Items').item.json.name}} ({{$json.github_status}})"
      },
      "id": "5801d7a5-47fa-431f-8520-abb2a435e756",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1408,
        288
      ],
      "webhookId": "b440dead-fad0-4546-8ca7-201aa2ea2936",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "nCn2SsZ9SgiyEUnP",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').item.json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "n8n-workflows"
        },
        "filePath": "={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Loop Over Items').item.json.name}} ({{$json.github_status}})"
      },
      "id": "dd013b93-3b37-4ec1-a065-0a4d79fb4419",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1408,
        96
      ],
      "webhookId": "1dfc4103-7c23-4814-a0b5-dd4f5a96d36b",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "nCn2SsZ9SgiyEUnP",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bb64ed2c-5193-4b8f-a9e8-55cb83ea244c",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $json.updatedAt }}",
              "rightValue": "={{ $now.minus(1, 'days') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ae7b37fa-560b-4084-8f97-e6b45513b4e7",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -384,
        288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# Links\n- ## [Github Folder](https://github.com/AndrewBoichenko/n8n-workflows/)",
        "height": 120,
        "width": 400
      },
      "id": "5cee33e8-9de4-4d83-b618-2bb4101b150e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# How it works \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `repo_path` for the directory path and `ID.json` for the filename.\nThe Repo Owner, Repo Name and Main folder are set using the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\nPlease check out my other items on [gumroad](https://boanse.gumroad.com/?section=k_Sn6LcT_dzJFnp5jmsM5A%3D%3D)\nYou might also like something else☺️",
        "height": 340,
        "width": 400
      },
      "id": "707b2cb9-8644-49a1-84ec-dde87572b0f8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "6655f56f-b447-43eb-84a2-be8b71524af7",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "different"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Different"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fd0fcdea-e8c0-42be-ba51-5cd2b71ed247",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "new"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "New"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ca3b1c68-d756-4de5-b69b-147526e19e35",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "same"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Same"
            }
          ]
        },
        "options": {}
      },
      "id": "90f50198-56c3-491f-8300-304b44da74cf",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1200,
        320
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "id": "78163556-7a99-46f9-ad53-f487843a09dc",
      "name": "Get Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -608,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "6oeEG7M14CUiBdz4",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03f51f9c-4681-4423-91d2-d32f4c18d6bc",
              "name": "repo_owner",
              "type": "string",
              "value": "chrisdevworks"
            },
            {
              "id": "0c9b521a-b698-4b43-9eb0-bbf744760158",
              "name": "repo_name",
              "type": "string",
              "value": "n8n-workflows"
            },
            {
              "id": "91627e70-a71a-4be0-a6f6-b04d5c8469d8",
              "name": "repo_path",
              "type": "string",
              "value": "n8n-workflows"
            },
            {
              "id": "983a2c87-9d69-4d64-ab88-ec1b1117c6e6",
              "name": "sub_path",
              "type": "string",
              "value": "folder"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9fcbffd6-2373-4c07-8e91-d71dc94e7bef",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        -832,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "c1953a81-42a5-42ce-96ff-a9cce5ef27a4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1280,
        288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').item.json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').item.json.repo_name }}"
        },
        "filePath": "={{ $('Config').item.json.sub_path }}/{{$('Loop Over Items').item.json.name}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "83dd0cdc-957d-42ee-80d1-f2122606e649",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        96,
        208
      ],
      "webhookId": "c12420d3-b858-4ee4-81c4-9adc03e30865",
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "nCn2SsZ9SgiyEUnP",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "628f6e8f-d817-4c53-89ec-b1acbb3dfef8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "63fc68bb-63d0-40a8-92e4-2a62b5a71812",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "068893a3-8c66-4b7a-b760-ef4c4aa24533",
      "name": "Is File too large?",
      "type": "n8n-nodes-base.if",
      "position": [
        304,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "b1acd3e6-2d94-4f13-9899-00eddb1c33ea",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        528,
        160
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=Information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "acc56b1a-a9ac-4c8a-92f4-b98c01d9cd4a",
      "name": "Starting Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        -1056,
        288
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackOAuth2Api": {
          "id": "2vq44BqFFGu06poF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#notifications"
        },
        "text": "=✅ Backup has completed - {{ $('Get Workflows').all().length }} workflows have been processed.",
        "otherOptions": {}
      },
      "id": "fcd4897e-83b6-445e-8c60-751024722da9",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        80,
        0
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 2.2,
      "credentials": {
        "slackOAuth2Api": {
          "id": "2vq44BqFFGu06poF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6d7c33ec-06b4-4309-ba73-0154dfdad795",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -160,
        288
      ],
      "typeVersion": 3
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-03T08:03:49.240Z",
      "createdAt": "2026-02-03T08:03:49.240Z",
      "role": "workflow:owner",
      "workflowId": "W3tSO5Pe1t-hrfv2l-Ekm",
      "projectId": "xjoV5aejNHZgjiXo"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-02T11:40:36.916Z",
  "versionId": "875b2698-60e4-4317-a01d-f194196f0e98"
}